@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Gloria+Hallelujah&family=Karla:wght@400;700&family=Roboto:wght@300;400;700;900&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #e0e0e0;
    --second-bg-color-transparent: #e0e0e030;

    --text-color: #3a3a47;

    --main-color: #0000ff;
    --second-color: #007bff;


    --big-font: 5rem;
    --modal-title: 3rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --section-title-font: 4rem;
    --section-subtitle-font: 1.5rem;
    --section__subtitle-margin-bottom: 20px;
    --icon-size: 5rem;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-wrap: normal;
}

body {
    min-height: 100vh;
    background-image: url(/img/noise.png);
    background-size: 200px 200px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    padding: 70px 0px 0px;
}

.main-color-text {
    color: var(--main-color);
}

.active-blue {
    color: blue;
    /* Or any other color you prefer */
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 8rem;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(0, 0, 0, 0.2),
            transparent);
    transition: 1.5s;
    z-index: -1;
}

.header:hover::after {
    left: 100%;
}

.navbar a {
    font-size: 1.15rem;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
    transition: all .45s ease;
    margin-left: 2rem;
    letter-spacing: 1px;
}

.section__title,
.section__subtitle {
    text-align: center;
    margin-bottom: var(--section__subtitle-margin-bottom);
}

.section__subtitle {
    color: var(--main-color);
    display: block;
    font-size: var(--section-subtitle-font);
}

.section__title {
    font-weight: 400;
    font-size: var(--section-title-font);
    color: var(--title-color);
    letter-spacing: 10px;
}

.container {
    margin: 0 auto;
    max-width: 1350px;
    width: 80%;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    font-family: 'Satisfy';
}



header span {
    color: var(--main-color);
    font-family: 'Satisfy';
}

.menuIcon {
    position: absolute;
    right: 5%;
    display: none;
    cursor: pointer;
}

.menuIcon .line1,
.menuIcon .line2,
.menuIcon .line3 {
    width: 30px;
    height: 3px;
    background: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
    font-weight: 600;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}


/* ========= HOME =========*/

.home {
    height: 100vh;
}

.home .text a {
    text-align: center;
    margin: 20px 20px;
}

.text h2 {
    font-size: 1.5rem;
}

#intro-text {
    font-size: 3.5rem;
    margin-bottom: 50px;
}

.container-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 100px;
    justify-content: space-around;
}

.bottom-border {
    border-bottom: 1px var(--second-bg-color) solid;
}

.container-upper {
    display: flex;
    width: 100%;
}

.container-home-bottom {
    display: flex;
    width: 100%;
}

.home .container-left {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .container-left span {
    color: var(--main-color);
}

.home .container-left h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.home .container-left h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.home .container-left p {
    margin-bottom: 30px;
    line-height: 25px;
}

.home .container-right {
    width: 40%;
    height: auto;
}

.home p {
    letter-spacing: 1px;
    font-weight: 100;
    max-width: 350px;
}

.contact-icons i {
    font-size: 2rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
}

.contact-icons a {

    /*color: var(--main-color);*/
    font-size: 3rem;
}

.contact-icons i:hover {
    transform: scale(1.3);
    transition: 0.5s;
}



.btn {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid var(--main-color);
    border-radius: 50px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.45s ease;
    margin: 5px;
    box-shadow: none;
}

.btn:hover,
.btn-active {
    transform: scale(1.1);
    color: var(--bg-color);
    background-color: var(--main-color);
    background-image: url(/img/noise.png);
    background-size: 200px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 50px #35353524;
}

/* ==================== About ==================== */

.blobs-filter {
    -webkit-filter: url("#goo");
    filter: url("#goo");
}

#rect-background {
    fill: var(--main-color);
}


.portrait {
    filter: grayscale(100%);
    mix-blend-mode: normal;
}

.portrait2 {
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    opacity: 0.3;
}


.about .container-upper .container-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.about .container-right {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.about .container-right h2 {
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.main-color {
    color: var(--main-color);
}

.second-color {
    color: var(--second-color);
}

.center-content {
    vertical-align: middle;
}

.bold {
    font-size: 1.2rem;
    font-weight: 800;
}

.about p {
    line-height: 150%;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about .center-text {
    display: flex;
    justify-content: center;
}

/* ==================== EXPERIENCE SECTION ==================== */

.qualification__logo {
    background-color: white;
    width: 100px;
    height: 100px;
    object-fit: contain; /* This ensures that the image's aspect ratio is maintained */
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.qualification .btn {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 200px;
    height: 50px;
}


.qualification__sections {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.qualification__icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {

    font-size: 1.2rem;
    font-weight: 600;
    color: var(--second-color);
    margin-bottom: 15px;
}

.qualification__subtitle {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 15px;
}

.qualification__calendar {
    text-align: center;
    font-size: 1.2rem;
    color: var(--bg-color);
    background-image: url(/img/noise.png);
    background-size: 200px 200px;
    margin-bottom: 15px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: var(--main-color);
}

.qualification__content {
    background-color: var(--bg-color);
    background-position: 0 0, 0 0;
    background-size: 200px, auto;
    border-radius: 20px;
    max-width: 700px;
    padding: 25px;
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    transform: translate(6px, -7px);
}


.qualification [data-content] {
    display: none;
}


.qualification__active[data-content] {
    display: block;
}

.courses {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 20px;
}

.courses .courses-title {
    color: var(--main-color);
    font-size: 1.2rem;
    text-align: center;
}

.courses .courses-list {
    text-align: left;
    margin-top: 10px;
}

.courses .courses-list span {
    color: var(--main-color);
    margin-right: 15px;
}

/* ===== PORTFOLIO SECTION ===== */

.portfolio .btn {
    margin: 10px;
    font-size: 0.8rem;
    width: 130px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio-main {
    margin-top: 20px;
    padding-left: auto;
    padding-right: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.filterDiv {
    float: left;
    width: 24%;
    overflow: hidden;
    color: var(--text-color);
    text-align: center;
    margin: 0.5%;
    display: none;
    cursor: pointer;
    border-radius: 10px;

    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.filterDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filterDiv:hover .overlay {
    opacity: 1;
    height: 100%;
    transition: ease-in-out 0.5s;
    border-radius: 40px;
}

.overlay p {
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.filterDiv:hover {
    border-radius: 100px;
    transition: ease-in-out 0.5s;
}

.filterDiv:hover img {
    transition: ease-in-out 0.5s;
    filter: blur(3px);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    letter-spacing: 1px;
    font-weight: 300;
    color: var(--text-color);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-title {
    color: var(--second-color);
    font-size: var(--modal-title);
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Modal Content */
.modal-content {
    background-color: var(--second-bg-color);
    background-image: url(/img/noise.png);
    background-size: 200px 200px;

    margin: auto;
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    box-sizing: border-box;
}

.p-center {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-justify-center {
    text-align: justify;
}

#construction {
    width: 150px;
}


.modal-content img {
    margin-top: 20px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal i {
    font-size: 4rem;
    color: var(--main-color);
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
    transition: 0.4s;
}

.modal i:hover {
    scale: 1.1;
    color: var(--text-color);
}


.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* The Close Button */
.close {
    color: var(--main-color);
    font-size: 36px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.project-links {
    display: flex;
    justify-content: center;
    font-size: var(--icon-size);
}

.project-links a {
    color: var(--main-color)
}

.project-links a:hover {
    transform: scale(1.1);
}


.myBtnContainer {
    display: flex;
    justify-content: center;
}


.show {
    display: block;
}

/* BLOG */

.blog-content {
    text-align: center;
}


/* ===== SKILLS SECTION ===== */
.skills .skills__content {
    background-color: var(--second-bg-color);
    background-image: url(/img/noise.png);
    background-size: 200px 200px;
    border-radius: 10px;
    padding: 10px;
}

.skills__container {
    grid-template-columns: repeat(2, 1fr);
}

.grid {
    display: grid;
    gap: 1rem;
}

.skills__name {
    margin-left: 10px;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
}

.skills__header h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.skills__open .skills__list {
    height: max-content;
    margin-top: 15px;
}

.skills__close .skills__list {
    display: none;
}

.skills__list {
    row-gap: 2px;
    padding-left: 2.5rem;
}

.skills__list li {
    line-height: 23px;
    list-style: circle;
    font-weight: 200;
}

.skills__icon {
    margin-right: 10px;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--main-color);
}

.skills__arrow {
    margin-left: auto;
    transition: 0.4s;
}


.skills__content {
    margin: 20px 20px;
}



/* ===================== CONTACT ===================== */
.contact {
    height: 100vh;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-content .left-side {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 5px;
}


.contact-content .left-side::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 2px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--text-color);
}

.contact-content .left-side .details {
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    /*border: dashed white 1px;*/
    width: 180px;
}


.contact-content .left-side .details i {
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 5px;
}

.contact-content .left-side .details i:hover {
    transform: scale(1.1);

}

.contact-content a {
    color: var(--main-color);
}

.contact-content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.contact-content .left-side .details .text-one,
.contact-content .left-side .details .text-two {
    font-size: var(--normal-font-size);
    color: var(--main-color);
}

.contact-content .right-side {
    padding: 15px;
    /*border: #547924 solid 2px;*/
    width: 70%;
    margin-left: 75px;
}

.contact-content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
}

.contact-content .right-side .input-box {
    height: 55px;
    width: 100%;
    margin: 12px 0;
}

.contact-content .right-side .input-box input,
.contact-content .right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-image: url(/img/noise.png);
    background-size: 200px 200px;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    opacity: 1;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.contact-content .right-side .message-box {
    min-height: 110px;
}

.contact-content .right-side .input-box textarea {
    padding-top: 6px;
}


.contact-content .right-side .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-top: 12px;
}


.contact-content .right-side .button input[type="submit"] {
    color: var(--main-color);
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-content .button input[type="submit"]:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1);
}



/*END CONTACT*/

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 2rem;
    bottom: -20%;
    background-color: transparent;
    border: 3px solid var(--main-color);
    opacity: .8;
    padding: 0.5rem;
    border-radius: 50%;
    z-index: 9999;
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--main-color);
    color: var(--bg-color);

}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
}


/* Extra Large screens */
@media (max-width: 1200px) {
    .header {
        padding: 0.5rem 4rem;
    }

    .navbar a {
        margin-left: 1.2rem;
    }
}

/* Large screens */
@media (max-width: 992px) {
    .header {
        padding: 0.5rem 1.8rem;
    }

    .modal-title {
        font-size: 2.5rem;
    }

    .filterDiv {
        width: 32%;
    }

    .navbar a {
        margin-left: 0.1rem;
        letter-spacing: 0.5px;
    }

    .change .line1 {
        transform: translate(0, 9px) rotate(-45deg);
    }

    .change .line2 {
        opacity: 0;
    }

    .change .line3 {
        transform: translate(0, -9px) rotate(45deg);
    }

    .container .contact-content .right-side {
        width: 75%;
        margin-left: 55px;
    }

    .container-home {
        padding-bottom: 1;
        padding-top: 0;
    }

    .home .container-upper {
        padding-top: 50px;
        flex-wrap: wrap-reverse;
    }

    .about .container-upper {
        padding-top: 0px;
        flex-wrap: wrap;
    }

    .about .container-left {
        align-items: center;
    }

    .home .container-left {
        width: 100%;
        z-index: 2;
    }

    .home .container-right {
        width: 100%;
        height: 0px;
        box-sizing: border-box;
    }

    .home .container-home-bottom {
        justify-content: center;
        padding-bottom: 0px;
    }

    .container {
        width: 90%;
    }

    .about .center-text {
        align-items: center;
        flex-direction: column;
    }

    .about .center-text a {
        text-align: center;
    }

    .about .btn,
    .home .btn {
        width: 250px;
    }


    .modal-content {
        width: 90%;
    }

    .home {
        padding-top: 15px;
        padding-bottom: 0px;
    }
}

/* Medium screens */
@media (max-width: 768px) {

    .modal-title {
        font-size: 2rem;
    }

    .menuIcon {
        display: block;
        z-index: 1000;
    }

    .modal-content img {
        width: 80%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.5s ease;
    }


    .navbar.showNav {
        height: 21rem;
        opacity: 1;
    }

    .navbar.showNav a {
        transform: translateY(0);
        transition-delay: calc(0.11s * var(--i));
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3 ease;
        letter-spacing: 3px;
    }


    .modal-content {
        width: 100%;
    }

    .home {
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .menu-toggle {
        display: flex;
    }

    .skills__container {
        display: flex;
        flex-direction: column;

        /*grid-template-columns: none;*/
        grid-template-columns: none;
        gap: 0px;
    }

    .skills__column {
        flex: 1; /* Ensures both columns take equal width */
    }

    .skills__container .skill-column {
        margin-bottom: 0;
        /*border: #ec4f1f solid 2px;*/
    }


    .container {
        width: 100%;
        padding: 0 20px;
    }

    .qualification .container {
        padding: 0;
    }

    .home .text {
        text-align: center;
    }


    .myBtnContainer {
        flex-wrap: wrap;
    }

    .qualification__tabs {
        flex-wrap: wrap;
    }


    .container .contact-content {
        flex-direction: column-reverse;
    }

    .container .contact-content .left-side {
        box-sizing: border-box;
        width: 100%;
        flex-direction: row;
        margin-top: 0;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .container .contact-content .left-side::before {
        display: none;
    }

    .container .contact-content .right-side {
        width: 100%;
        margin-left: 0;
    }

}

/* Small screens */
@media (max-width: 576px) {

    .modal-title {
        font-size: 1.8rem;
    }

    #intro-text {
        font-size: 1.8rem;
    }

    .modal-content img {
        width: 100%;
    }

    .filterDiv {
        width: 49%;
    }

    .section__title {
        letter-spacing: 8px;
        font-size: 3.5rem;

    }

    .filterDiv .overlay {
        opacity: 1;
        height: 50%;
        transition: ease-in-out 0.5s;
        border-radius: 40px;
    }

    .about img {
        width: 100%;
        max-width: 320px;
    }

    .qualification__data {
        grid-template-columns: 1fr max-content;
    }

    .before_timeline,
    .empty-container {
        display: none;
    }

    .qualification__content {
        width: 100%;
        border-radius: 0;
    }

    .contact-icons i {
        font-size: 1.8rem;
    }
}

@media (max-width: 350px) {
    .skills__header h3 {
        font-size: 1rem;
    }

    .header .logo {
        font-size: 1.5rem;
    }

    .home p {
        font-size: 0.9rem;
    }

    .contact-icons i {
        font-size: 1.8rem;
        margin: 3px;
        padding: 3px;
    }

    .home h2 {
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) {
    .after_timeline {
        display: none;
    }
}

@media screen and (max-height: 700px) {
    .container-left h2 {
        margin-top: 25px;
        font-size: 20px;

    }

    #intro-text {
        font-size: 25px;
    }
}

/* scrollbar  */
/* Total scrollbar styling */
/* Default scrollbar styling for mobile devices */
/* This will be applied by default and will cover mobile devices */

/* Custom scrollbar styling for desktop */
@media screen and (min-width: 410) {
    /* Adjust this min-width value based on your breakpoint for desktop view */

    /* Total scrollbar styling */
    ::-webkit-scrollbar {
        width: 12px; /* Adjust the width of the scrollbar */
    }

    /* Track of the scrollbar */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the track */
        border-radius: 10px; /* Roundness of the track */
    }

    /* Handle of the scrollbar */
    ::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Roundness of the thumb */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color when the thumb is hovered */
    }
}
